@import 'tailwindcss';

@theme {
  /* Removes Tailwind default color palette and font */
  --color-*: initial;
  --font-*: initial;
  --default-font-*: initial;
  --default-mono-font-*: initial;
  --default-font-family: var(--font-montserrat);

  /* Overrides Tailwind default text-6xl values */
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;

  --color-forefront-text: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #bfbfbf;
  --color-gray: #808080;
  --color-dark-gray: #000000;
  --color-gold: #c1a875;
  --color-dark-gold: #775f2c;
  --color-link: #0000ff;

  --color-teal-100: #cef5f5;
  --color-teal-200: #9fece9;
  --color-teal-300: #6fe2df;
  --color-teal-400: #40d9d4;
  --color-teal-500: #57c5c7;
  --color-teal-600: #0ca5a1;
  --color-teal-700: #0a7c79;
  --color-teal-800: #055350;
  --color-teal-900: #042928;

  --color-teal-logo-200: #d0ebeb;
  --color-teal-logo-300: #b1dfdf;
  --color-teal-logo-400: #7fcfcf;

  --color-forefront-water: #0082c8;
  /* --color-forefront-education: #f4bb27; */
  --color-forefront-education: #bfa21e;
  --color-forefront-medical: #e45455;
  --color-forefront-empowerment: #8b5aa5;

  --animate-slide-down: slide-down 0.3s ease-out;
  --animate-slide-up: slide-up 0.3s ease-out;

  /* animations */
  @keyframes slide-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slide-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* 
  Use @theme inline when defining colors that reference other colors. 
  Source: https://tailwindcss.com/docs/colors#referencing-other-variables 
*/
@theme inline {
  --color-forefront-teal: var(--color-teal-500);
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: var(--font-weight-bold);
  }

  h4 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: var(--font-weight-bold);
  }

  p {
    font-family: var(--font-libre-baskerville);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
  }

  @media (max-width: 767px) {
    h1 {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
      font-weight: var(--font-weight-bold);
    }

    h2 {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
      font-weight: var(--font-weight-bold);
    }

    h3 {
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
      font-weight: var(--font-weight-bold);
    }

    h4 {
      font-size: var(--text-md);
      line-height: var(--text-md--line-height);
      font-weight: var(--font-weight-bold);
    }
  }
}

@utility desktop {
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

@utility mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}
